# SF Salaries Exercise

Selamat datang di latihan untuk melatih keterampilan pandas Anda! Kami menggunakan Dataset SF Salaries dari [Kaggle!](https://www.kaggle.com/kaggle/sf-salaries) Cukup ikuti dan selesaikan tugas yang diuraikan di bawah ini. Tugas akan semakin sulit seiring berjalannya waktu.

**import library pandas as pd**

In [1]:
import pandas as pd

**baca file Salaries.csv sebagai dataframe bernama sal.**

In [2]:
df = pd.read_csv("Salaries.csv")

**cek head dari DataFrame**

In [3]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

Gunakan .info() untuk mengetahui berapa banyak entri yang ada

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**Berapakah rata-rata dari BasePay?**

In [5]:
df['BasePay'].mean()

66325.44884050643

**Berapakah nilai tertinggi dari OvertimePay?**

In [6]:
df['OvertimePay'].max()

245131.88

**Apa pekerjaan dari JOSEPH DRISCOLL?**

*Catatan: Gunakan huruf besar semua, jika tidak, Anda mungkin mendapatkan jawaban yang tidak cocok (ada juga huruf kecil Joseph Driscoll)*

In [7]:
df.loc[df['EmployeeName'] == 'JOSEPH DRISCOLL', 'JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**Berapa penghasilan JOSEPH DRISCOLL (termasuk keuntungannya)?**

In [8]:
df.loc[df['EmployeeName'] == 'JOSEPH DRISCOLL', 'TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

**Siapa nama orang yang dibayar paling tinggi (termasuk tunjangan)?**

In [9]:
df[df['TotalPay'] == df['TotalPay'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

**Siapa nama orang yang dibayar paling rendah (termasuk tunjangan)? Apakah Anda memperhatikan sesuatu yang aneh tentang berapa banyak dia dibayar?**

In [10]:
df[df['TotalPay'] == df['TotalPay'].min()]

#yep aneh karena minus, dia berhutang mungkin

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

**Berapa rata-rata BasePay dari semua karyawan per tahun?**

In [22]:
df_segment = df.groupby('Year').agg({'BasePay':"mean"})
df_segment

           BasePay
Year
2011  63595.956517
2012  65436.406857
2013  69630.030216
2014  66564.421924

**Ada berapa banyak job titles?**

*Catatan : Unique job titles*

In [12]:
df['JobTitle'].nunique()

2159

**Apa 5 pekerjaan paling umum teratas?**

In [13]:
ya = df['JobTitle'].value_counts()
ya.iloc[:5]

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**Berapa Pekerjaan yang diwakili oleh hanya satu orang pada tahun 2013?**

*CATATAN: Pekerjaan dengan hanya satu kemunculan di 2013*

In [14]:
filt= df['Year'] == 2013
fix=df.loc[filt]['JobTitle'].value_counts() == 1
fix.sum()

202

**Berapa banyak orang yang memiliki kata Chief dalam jabatannya?**

In [23]:
df['JobTitle'].str.count('CHIEF|Chief').sum()

627

**Bonus: Apakah ada korelasi antara panjang string Pekerjaan dan Gaji?**

In [16]:
df['title_len'] = df['JobTitle'].str.len()

Correlation = df[['title_len','TotalPayBenefits']]
Correlation.corr(method='pearson')

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

In [17]:
df['title_len'] = df['JobTitle'].str.len()

ok = df[['title_len','TotalPayBenefits']]
ok.corr(method='kendall')

                  title_len  TotalPayBenefits
title_len          1.000000         -0.015239
TotalPayBenefits  -0.015239          1.000000

In [18]:
df['title_len'] = df['JobTitle'].str.len()

ok = df[['title_len','TotalPayBenefits']]
ok.corr(method='spearman')

                  title_len  TotalPayBenefits
title_len          1.000000         -0.021961
TotalPayBenefits  -0.021961          1.000000

In [20]:
####https://www.statistikian.com/2012/07/pearson-spearman-rho-kendall-tau-gamma-dan-somers.html